@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  /* allow the layout to determine width so pages can be fluid */
  width: 100%;
  /* enable scrolling when content exceeds viewport on any screen */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Toastify__toast-theme--dark {
  background-color: #00000076 !important;
}
